* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --bs-primary: #FFDF00;
}

.App {
  display: grid;
  grid-template-areas: "Content";
  grid-template-columns: 1fr;
  width: 100%;
  height:  100%;
  grid-gap: 15px;
  background:  #FBECD800;
}


#content {
  grid-area: Content;width: "100%";
  background: white;
  border-radius: 10px;
  padding: 15px;
  height: 100%; 
  display: flex; 
  flex-direction: column;
}