.bar {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

label {
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  font-size: 24px;
  white-space: nowrap;
}

input {
  vertical-align: middle;
}

label:nth-child(even) {
  background: #FFDF0044;
}

label span, #next {
  vertical-align: middle;
  padding: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Adjust the value to control the size */
  margin: 10px; /* Optional: Add margin for spacing */
  accent-color: #FFDF00;
  border-radius: 50%;
}

#next {
  border: 0px;
  background: transparent;
  font-size: 24px;
  width: 100%;
}

.danger {
  background: red;
  color: white;
  border: 0px solid white;
  padding: 5px;
  border-radius: 5px;
  margin-left:auto;
}

.danger:hover {
  background: darkred;
  color: white;
  border: 0px solid white;
  padding: 5px;
  border-radius: 5px;
  justify-self: flex-end;
}